@{
    ViewBag.Title = "About Haikus";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <blockquote>"Today it may be possible to describe haiku but not to define it."<br/><br/>
	    <span class="smalltxt">Hiroaki Sato: Author; Columnist; and Editor of "One Hundred Frogs: From Matsuo Basho to Allen Ginsberg"</span>
    
    </blockquote>
    <p>
    An English-language haiku is often written in three short lines and read out loud in about six seconds. They're written in the present tense, 
    in ordinary language, and work well as two different images that spark off each other. It's good to include one or more senses such as sound, 
    smell, taste or touch, and not just what we can see. Haiku don't tell, or merely describe, they allow the reader to enter the poem in their own way.
	Traditionally haiku are rooted in natural history and the seasons, and make us co-conspirators with wildlife, as nature half-writes the haiku before we've even put pen to paper.
	Haiku have a seasonal clue called <a href="kigo.html">kigo</a> in Japanese. Obvious season words are snow for winter; and heatwave for summer; but you could use 
    less obvious kigo like beer for summer, and Orion or Orion's Belt for winter.
    </p>

    <p>
    Haiku comes from a "first verse" called hokku; they often look incomplete as they originate from a linked verse poem where the first verse
	was finished by the second verse. They have a special place in the multi-poet-multi-linking-verse-poem known as renga, or renku, that enjoyed a renaissance in 17th Century Japan;
	and people started collecting them as not all the composed hokku on the day	could be chosen to start off the renga. Then Japanese writers began to adapt foreign literary techniques in poetry
	as Japan was opened up to the West. Journalist, writer, and poet Masaoka Shiki took full advantage when he officially made hokku an independent poem
	in the 1890s called haiku (singular and plural spelling) and brought haiku into the 20th Century.
	</p>

</article>

<aside>
    <h3>References</h3>
    <p>
        These are some good references on Haiku.
    </p>
    <ul>
        <li><span><a href="http://www.withwords.org.uk/what.html">What is a Haiku</a></span>
        <li><span><a href="http://www.toyomasu.com/haiku/">Toyomasu on Haikus</a></span>
        <li><span><a href="http://www.wikihow.com/Write-a-Haiku-Poem">How to Write a Haiku/a></span>
    </ul>
</aside>