@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Office:</span>
        <span>+44 1189 095 679</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>+44 7967 248 360</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Direct:</span>
        <span><a href="mailto:giles.davies@microsoft.com">giles.davies@microsoft.com</a></span>
    </p>
    <p>
        <span class="label">UK team:</span>
        <span><a href="mailto:ukvs@microsoft.com">ukvs@microsoft.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Social Media Ninja type stuff:</h3>
    </header>
    <p>
        <span class="label">Twitter:</span>
        <span><a href="http://www.twitter.com/VisualStudioUK">VisualStudioUK</a></span>
    </p>
        <p>
        <span class="label">Blog:</span>
        <span><a href="http://blogs.msdn.com/b/VisualStudioUK">blogs.msdn.com/b/VisualStudioUK</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        Microsoft Campus<br/>
        Thames Valley Park<br/>
        Reading<br/>
        RG6 1WG
    </p>
</section>