@{
    ViewBag.Title = "Haiku Validator";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            To check if your Haiku is correctly formed enter it below, choose the appropriate rules, and validate it.
        </p>
    </div>
</section>
}

<h3>3 Simple Steps:</h3>

<form action="" method="POST">    
    
<ol class="round">
        
    <li class="one">
        <h5>Enter your Haiku:</h5>
        <br />
        <textarea id="TextAreaHaiku" name="Haiku" cols="50" rows="3" aria-multiline="True"></textarea>      
    </li>
    <li class="two">
        <h5>Select the rules you want to apply:</h5>
        <br />
        <select id="SelectRules" name="Rules">
            <option>Traditional</option>
            <option>Western</option>
            <option>Fibonacci</option>
        </select>
    </li>
    @*<li class="three">
        <h5>Validate:</h5>
        <br />
        <input id="ButtonValidate" type="button" value="Validate" />
    </li>*@
    <li class="three">
        <h5>Validate:</h5>
        <br />
            <input type="submit" value="Yes"/>    
            
            @if (Request["Haiku"].IsEmpty())
            {
                
            }
            else {
                @Haiku.Web.HaikuValidator.Button(Request["Haiku"], Request["Rules"]);
            }    

        @*@Haiku.Web.HaikuValidator.Button(PageData["TextAreaHaiku"], "Western")*@;
        @*@Haiku.Web.HaikuValidator.Button("stony sand" + Environment.NewLine + "coming and going"+ Environment.NewLine + "winter waves", "Western")*@;
        
    </li>

</ol>
</form>
